<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>VMS Helper.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>VMS.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>F61C5DE41D879FBD00023FC7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F65643E01B0AD6950011999B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F65643F31B0AD6950011999B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F6AAFF351D895CE60094A974</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
