<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>xib</key>
		<string>GeneralViewController</string>
		<key>name</key>
		<string>General</string>
		<key>icon</key>
		<string>General</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Record Settings</string>
		<key>icon</key>
		<string>Record</string>
		<key>xib</key>
		<string>RecordSettingViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Alarm Settings</string>
		<key>icon</key>
		<string>Alarm</string>
		<key>xib</key>
		<string>AlarmSettingViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Recording Schedule</string>
		<key>icon</key>
		<string>Schedule</string>
		<key>xib</key>
		<string>RecordScheduleViewController</string>
	</dict>
	<dict>
		<key>name</key>
		<string>Users and Groups</string>
		<key>icon</key>
		<string>UserGroup</string>
		<key>xib</key>
		<string>UserManagementViewController</string>
	</dict>
</array>
</plist>
