<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Device Management Items</key>
	<array>
		<dict>
			<key>Group</key>
			<string>Status</string>
			<key>Sub Items</key>
			<array>
				<dict>
					<key>Class</key>
					<string>DeviceInfoViewController</string>
					<key>Nib</key>
					<string>DeviceInfoViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>DeviceStateViewController</string>
					<key>Nib</key>
					<string>DeviceStateViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Group</key>
			<string>Basic Settings</string>
			<key>Sub Items</key>
			<array>
				<dict>
					<key>Class</key>
					<string>DeviceNameViewController</string>
					<key>Nib</key>
					<string>DeviceNameViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>SystemTimeViewController</string>
					<key>Nib</key>
					<string>SystemTimeViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Group</key>
			<string>Network</string>
			<key>Sub Items</key>
			<array>
				<dict>
					<key>Class</key>
					<string>IPViewController</string>
					<key>Nib</key>
					<string>IPViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>WifiConfigViewController</string>
					<key>Nib</key>
					<string>WifiConfigViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>DDNSViewController</string>
					<key>Nib</key>
					<string>DDNSViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>PortViewController</string>
					<key>Nib</key>
					<string>PortViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>SmtpViewController</string>
					<key>Nib</key>
					<string>SmtpViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>FtpViewController</string>
					<key>Nib</key>
					<string>FtpViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>P2PViewController</string>
					<key>Nib</key>
					<string>P2PViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Group</key>
			<string>Video</string>
			<key>Sub Items</key>
			<array>
				<dict>
					<key>Class</key>
					<string>EncodingParamViewController</string>
					<key>Nib</key>
					<string>EncodingParamViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>OSDViewController</string>
					<key>Nib</key>
					<string>OSDViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>OSDMaskViewController</string>
					<key>Nib</key>
					<string>OSDViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>SnapConfigViewController</string>
					<key>Nib</key>
					<string>SnapConfigViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LEDViewController</string>
					<key>Nib</key>
					<string>LEDViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>LedConfigViewController</string>
					<key>Nib</key>
					<string>LedConfigViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>ColorAdjustmentViewController</string>
					<key>Nib</key>
					<string>ColorAdjustmentViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Group</key>
			<string>Detector</string>
			<key>Sub Items</key>
			<array>
				<dict>
					<key>Class</key>
					<string>MotionDetectViewController</string>
					<key>Nib</key>
					<string>MotionDetectViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Group</key>
			<string>PTZ</string>
			<key>Sub Items</key>
			<array>
				<dict>
					<key>Class</key>
					<string>PTZSpeedViewController</string>
					<key>Nib</key>
					<string>PTZSpeedViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>PTZCruiseViewController</string>
					<key>Nib</key>
					<string>PTZCruiseViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>PTZStartupOptionViewController</string>
					<key>Nib</key>
					<string>PTZStartupOptionViewController</string>
				</dict>
			</array>
		</dict>
		<dict>
			<key>Group</key>
			<string>System</string>
			<key>Sub Items</key>
			<array>
				<dict>
					<key>Class</key>
					<string>RestoreToFactoryViewController</string>
					<key>Nib</key>
					<string>RestoreToFactoryViewController</string>
				</dict>
				<dict>
					<key>Class</key>
					<string>DeviceRebootViewController</string>
					<key>Nib</key>
					<string>DeviceRebootViewController</string>
				</dict>
			</array>
		</dict>
	</array>
</dict>
</plist>
